fastapi==0.115.4
jsonpath~=0.82.2
psutil~=5.9.0
jsonpath-ng~=1.6.1
pywin32==308
pillow~=10.3.0
uvicorn==0.32.0
pyautogui==0.9.53
pydantic~=2.9.2
PyYAML==6.0.2
adbutils==2.8.0
av==13.1.0
loguru==0.7.3
cachetools==5.5.2